<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Select Parent Task</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
        (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <table class="table" style="table-layout:fixed">
        <thead class="thead-light">
            <tr>
                <th scope="col">Task Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let parentTask of parentTasks">
                <td>{{parentTask.parentTaskSummary}}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" ngbAutofocus class="btn btn-success"
                            (click)="modal.close(parentTask)">Select</button>
                    </div>
                </td>
            </tr>
            <tr *ngFor="let task of tasks">
                <td>{{task.taskSummary}}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" ngbAutofocus class="btn btn-success"
                            (click)="modal.close(task)">Select</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cancel')">Cancel</button>
</div>