<section *ngIf="errMsg==null" class="container" style="width: 100%">
    <h3>Task List</h3>
    <div class="form-row">
        <div class="col-sm-6">
            <div class="col-sm-8">
                <input type="text" name="taskProjectName" [(ngModel)]="searchTask.project.projectName" class="form-control"
                    placeholder="Project .." disabled required />
            </div>
            <div class="col-sm-4">
                    <button type="button" class="btn btn-light" (click)="openTaskProjectModal()">Search</button>
            </div>
        </div>
        <div class="col-sm-6">
            <span class="float-right">
                Sort Tasks By:
                <div class="btn-group">
                    <button type="button" (click)="sortTasks('startDate')" class="btn btn-light btn-sm">
                        Start Date <i class="fas fa-angle-double-down"></i>
                    </button>
                    <button type="button" (click)="sortTasks('endDate')" class="btn btn-light btn-sm">
                        End Date <i class="fas fa-angle-double-down"></i>
                    </button>
                    <button type="button" (click)="sortTasks('priority')" class="btn btn-light btn-sm">
                        Priority <i class="fas fa-angle-double-down"></i>
                    </button>
                    <button type="button" (click)="sortTasks('isTaskDone')" class="btn btn-light btn-sm">
                        Completed <i class="fas fa-angle-double-down"></i>
                    </button>
                </div>
            </span>
        </div>
    </div>
    <hr>
    <table class="table" style="table-layout:fixed">
        <thead class="thead-light">
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Parent Task</th>
                <th scope="col">Priority</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col" colspan="2">Action</th>
            </tr>
        </thead>
    </table>
    <app-task-detail *ngFor="let task of tasks" [task]="task"></app-task-detail>
</section>